

$orange: #d34b22;
$red: #9b2400;
$blue: #3e4aeb;
$green: #db613c;
$purple: hsl(261, 97%, 24%);

$serif: 'Libre Baskerville', serif;
$sans: 'IBM Plex Sans', sans-serif;

body {
    background-color: $purple;
    color: white;
    font-family: $serif;
}

html, body, #root {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

