@import 'app';

.registration-container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgb(106, 69, 194), $purple);
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration {
    display: flex;
    flex-direction: column;

    max-width: 70%;
    width: 80%;
    min-height: 60%;
    height: auto;
    flex-shrink: 1;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
    background-color: $orange;
    color: $blue;
    font-size: 20px;

    h1 {
        margin: 10px 0;
        color: $purple;
        font-size: 50px;
        padding-bottom: 10px;
        border-bottom: 1px dashed $blue;
    }

    h2 {
        font-size: 20px;
        font-style: italic;
        margin-bottom: 30px;
    }

    label, em {
        font-size: 18px;
        color: $purple;
    }

    em {
        padding-left: 5px;
    }

    a {
        color: $blue;
        transition: 200ms;
    }

    a:hover {
        transition: 200ms;
        color: $darkred;
    }

    .field {
        margin-bottom: 10px;
    }

    input {
        box-sizing: border-box;
        margin-top: 5px;
        padding: 4px;
        height: 40px;
        width: 100%;
        font-size: 15px;
        font-family: $serif;

    }

    input:focus {
        outline: none;
        border: 1px solid $orange;
    }

    .errors-list {
        font-size: 15px;
        color: $red;
        font-style: italic;
        li {
            margin-bottom: 2px;
        }

        margin-bottom: 8px;
    }
    
}

button.submit {
    border: 0px solid transparent;
    color: white;
    cursor: pointer;
    padding: 5px 15px;

    font-family: $serif;
    margin-right: 12px;
    font-size: 18px;
    border-radius: 8px;
    color: white;
    padding: 6px 12px;

    background-color: $darkred;
    transition: 200ms;
    text-decoration: none;
}

button.submit:hover {
    transform: scale(1.1);
    background-color: $purple;
    transition: 200ms;
}

.instead {
    padding-left: 10px;
    font-size: 17px;
}

.howto {
    font-size: 14px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.field:last-of-type {
    margin-bottom: 20px;
}

