@import './app.scss';

.splash-container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgb(106, 69, 194), $purple);
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px $purple;
    max-width: 70%;
    width: 80%;
    min-height: 60%;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
    background-color: $orange;
    color: $purple;
    font-size: 20px;

    h1 {
        margin: 10px 0;
        color: $purple;
        font-size: 50px;
        padding-bottom: 10px;
        border-bottom: 1px dashed $blue;
    }

    h2 {
        font-size: 20px;
        font-style: italic;
        margin-bottom: 30px;
    }

    p {
        line-height: 115%;
        font-size: 18px;
    }

    a {
        color: $blue;
        transition: 200ms;
    }

    a:hover {
        transition: 200ms;
        color: $darkred;
    }

    .nav-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;

        nav {

            margin-top: 10px;
            padding: 20px;
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                border-radius: 5px;
                color: white;
                padding: 10px;
                background-color: $darkred;
                transition: 200ms;
                text-decoration: none;
            }

            a:hover {
                transform: scale(1.1);
                background-color: $purple;
                transition: 200ms;
            }
        }
    }
    

    
}

.madeby {
    padding-top: 13px;
}